@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500&display=swap');

body {
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
}

#body {
    font-family: 'Archivo Narrow', sans-serif;
}

.bgimage {
    background-image: url("/public/images/image1.jpg");
    background-color: #cccccc;
    height: 100vh;
    background-size: cover;
    position: relative;
}

.NavBar{
    position: sticky;
}

.my-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Archivo Narrow', sans-serif;
}

.my-name {
    font-size: 4rem;
    /* text-shadow: 2px 2px black; */
    font-weight: 900;
    text-shadow: 0 0 3px black, 0 0 5px #0000FF;
    font-family: 'Archivo Narrow', sans-serif;
}

.p {
    font-family: 'Archivo Narrow', sans-serif;
}

.my-des {
    font-size: 2rem;
    text-shadow: 0 0 3px black, 0 0 5px #0000FF;
    font-family: 'Archivo Narrow', sans-serif;
}

.imageAboutPage {
    width: 100%;
}

.card {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.card-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.card-text {
    margin-top: 3px;
    margin-left: 1rem;
}

.comment {
    height: 166px;

}

.textarea {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.icon-sev {
    margin-left: 1rem;
    size: 100px;
    width: 100%;
}

.card:hover .icon-sev {
    color: #008000;
}

.icon-sev:hover {
    color: #008000;
}

.servies-part {
    margin-left: 1rem;
    margin-right: 1rem;
}
